* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin-top: 4rem;
  margin-bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: $font-headings;
  color: $dark-navy;
  background-color: $white;
}

nav {
  display: none;
}

.footer {
  font-family: "Poppins", sans-serif;
  display: block;
  margin: 0;
  width: 100%;
  height: 10rem;
  background-color: $dark-navy;
  color: $white;
  text-align: center;

  &__button {
    font-family: "Poppins", sans-serif;
    margin: 1rem;
    width: 7rem;
    height: 2rem;
    font-size: 1rem;
    background-color: $blue-background;
    color: $dark-navy;
    border: 1px solid $white;
    border-radius: 7px;
  }

  &__email {
    margin: 1rem;
    font-size: 0.7rem;
  }
}
