@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@300&family=Poppins&display=swap");

$font-headings: "Poppins", sans-serif;
$font-paragraphs: "Manrope", sans-serif;
$light-blue: rgb(227, 246, 245);
$blue-background: #bae8e8;
$white: #fdfdfd;
$dark-navy: #272643;

@import "partials/introduction";
@import "partials/aboutme.scss";
@import "partials/technicalskills.scss";
@import "partials/projects.scss";
@import "partials/layout.scss";
@import "partials/mediaquery.scss";
