@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin-top: 4rem;
  margin-bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Poppins", sans-serif;
}

nav {
  display: none;
}

.header {
  width: 90%;
  height: 15%;
  left: 3.1rem;
  top: 5rem;
}
.header__intro {
  color: black;
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 1.6rem;
}

.large-heading {
  width: 90%;
  display: flex;
  align-items: center;
  height: 29rem;
}
.large-heading__text {
  font-style: normal;
  font-weight: 600;
  font-size: 3.5rem;
  line-height: 120%;
}
.large-heading__text:hover {
  text-decoration: underline 0.3rem black;
}
.large-heading__image {
  display: none;
}

.about-me {
  width: 90%;
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
  display: grid;
  align-items: center;
  justify-items: center;
  grid-gap: 1.5rem;
  grid-template-areas: "heading heading heading heading" "image image image image" "p p p p";
}
.about-me__heading {
  grid-area: heading;
  font-weight: 600;
  font-size: 1.75rem;
  line-height: 39px;
  text-align: center;
}
.about-me__image {
  grid-area: image;
  width: 18.7rem;
}
.about-me__description {
  grid-area: p;
  font-weight: 400;
  font-size: 1.12rem;
  line-height: 180%;
  text-align: justify;
}

.technical-skills {
  width: 90%;
  margin-top: 3rem;
  margin-bottom: 1.25rem;
  display: grid;
  justify-items: center;
  grid-template-areas: "heading heading heading heading" "p p p p";
  grid-gap: 1.5rem;
}
.technical-skills__heading {
  grid-area: heading;
  font-weight: 600;
  font-size: 1.75rem;
  line-height: 39px;
  text-align: center;
}
.technical-skills__description {
  grid-area: p;
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 160%;
  text-align: center;
}

.skills-container {
  width: 90%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 0.6fr 0.6fr 0.6fr;
  grid-gap: 3rem;
  align-items: center;
  object-fit: scale-down;
}
.skills-container figure {
  justify-self: center;
}
.skills-container figcaption {
  text-align: center;
}

.project-intro {
  width: 90%;
  margin-top: 3rem;
  margin-bottom: 1.25rem;
  display: grid;
  justify-items: center;
  grid-template-areas: "heading heading heading heading" "p p p p";
  grid-gap: 1.5rem;
}
.project-intro__heading {
  grid-area: heading;
  font-weight: 600;
  font-size: 1.75rem;
  line-height: 39px;
  text-align: center;
}
.project-intro__description {
  grid-area: p;
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 160%;
  text-align: center;
}

.project-container {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.project-card {
  border: #000000 2px solid;
  width: 100%;
  margin-top: 3rem;
  margin-bottom: 1.25rem;
  display: grid;
  grid-gap: 0.5rem;
  align-items: center;
  grid-template-areas: "image image image image" "type type type type" "client client client client" "d d d d " "button1 button1 button2 button2";
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.project-card figure {
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-area: image;
  background-size: contain;
  overflow: hidden;
  justify-self: center;
}
.project-card figure img {
  width: 90%;
}
.project-card__project-type-heading {
  width: 90%;
  grid-area: type;
  font-size: 1.25rem;
  text-align: start;
}
.project-card__client-project-heading {
  width: 90%;
  grid-area: client;
}
.project-card__description {
  width: 90%;
  grid-area: d;
}
.project-card__button--code {
  font-size: 1rem;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  width: 7rem;
  height: 3rem;
  grid-area: button1;
  background: #FFFFFF;
  border: 1px solid #000000;
  border-radius: 7px;
}
.project-card__button--preview {
  font-size: 1rem;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  width: 7rem;
  height: 3rem;
  grid-area: button2;
  background: #c7e6f1;
  border: 1px solid #000000;
  border-radius: 7px;
}

.footer {
  font-family: "Poppins", sans-serif;
  display: block;
  margin: 0;
  width: 100%;
  height: 10rem;
  background-color: #000000;
  color: #FFFFFF;
  text-align: center;
}
.footer__button {
  font-family: "Poppins", sans-serif;
  margin: 1rem;
  width: 7rem;
  height: 3rem;
  font-size: 1rem;
  font-weight: 600;
  background-color: #FFFFFF;
  color: #000000;
  border-radius: 7px;
}
.footer__email {
  margin: 1rem;
  font-size: 0.7rem;
}

@media screen and (min-width: 1200px) {
  body {
    margin: 2rem;
  }

  .nav-bar {
    display: block;
    height: 3rem;
    width: 100%;
  }
  .nav-bar__list {
    list-style-type: none;
  }
  .nav-bar li {
    display: inline;
  }

  .large-heading {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }
  .large-heading__text {
    flex-direction: column;
  }
  .large-heading__image {
    width: 50%;
    border: #000000;
  }
}