@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300&family=Poppins&display=swap');

$font-headings: 'Poppins', sans-serif;
$font-paragraphs: 'Manrope', sans-serif;
$light-blue: rgb(227,246,245);
$blue-background:#BAE8E8;
$white:#FDFDFD;
$dark-navy:#272643;
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin-top: 4rem;
  margin-bottom: 0;
  display:flex;
  flex-direction: column;
  align-items: center;
  font-family: $font-headings;
  color: $dark-navy;
  background-color: $white;
}
nav{
  display:none;
}
.header {
  width: 90%;
  height: 15%;

  &__intro {
    color: $dark-navy;
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 1.6rem;
  }
}
.large-heading {
  width:90%;
  display: flex;
  align-items: center;
  height: 29rem;

  &__text {

    font-style: normal;
    font-weight: 600;
    font-size: 3.5rem;
    line-height: 120%;
  }

  &__text:hover{
    text-decoration: underline 0.3rem $blue-background;
  }

  &__image{
    display:none;
  }
}

.about-me {
  width:90%;
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
  display: grid;
  align-items: center;
  justify-items: center;
  grid-gap:1.5rem;
  grid-template-areas:
    "heading heading heading heading"
    "image image image image"
    "p p p p";

  &__heading {
    grid-area: heading;
    font-weight: 600;
    font-size: 1.75rem;
    line-height: 39px;
    text-align: center;
  }

  &__image {
    grid-area: image;
    border-radius: 3px;
    width: 18.7rem;
  }

  &__description {
    font-family: $font-paragraphs;
    grid-area: p;
    font-weight: 400;
    font-size: 1.12rem;
    line-height: 180%;
    text-align: justify;
  }
}

.technical-skills {
  width:90%;
  margin-top: 3rem;
  margin-bottom: 1.25rem;
  display: grid;
  justify-items: center;
  grid-template-areas:
    "heading heading heading heading"
    "p p p p";
  grid-gap:1.5rem;

  &__heading {
    grid-area: heading;
    font-weight: 600;
    font-size: 1.75rem;
    line-height: 39px;
    text-align: center;
    
  }

  &__description {
    font-family: $font-paragraphs;
    grid-area: p;
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 160%;
    text-align: center;
  }
}
.skills-container {
  width:90%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 0.6fr 0.6fr 0.6fr;
  grid-gap: 3rem;
  align-items: center;
  object-fit: scale-down;
  figure {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-self: center;
    justify-content: space-around;
    height: 7rem;
  }
  figure img{
    width:3.5rem;
  }
  figcaption {
    text-align: center;
  }
}

.project-intro{
  width:90%;
  margin-top: 3rem;
  margin-bottom: 1.25rem;
  display: grid;
  justify-items: center;
  grid-template-areas:
    "heading heading heading heading"
    "p p p p";
  grid-gap:1.5rem;

  &__heading{
    grid-area: heading;
    font-weight: 600;
    font-size: 1.75rem;
    line-height: 39px;
    text-align: center;
  }
  &__description{
    font-family: $font-paragraphs;
    grid-area: p;
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 160%;
    text-align: center;
  }
}
.project-container{
  width:90%;
  display: flex;
  flex-direction: column;
  align-items:center;
}
.project-card{
  width:100%;
  padding: 1rem;
  margin-top: 3rem;
  margin-bottom: 1.25rem;
  display:grid;
  grid-gap:0.5rem;
  align-items: center;
  grid-template-areas: 
  "image image image image"
  "type type type type"
  "client client client client"
  "d d d d "
  "button1 button1 button2 button2";
  grid-template-columns: 1fr 1fr 1fr 1fr;
  figure{
    grid-area: image;
    background-size: contain;
    overflow: hidden;
    justify-self: center;
  }
  figure img{
    width:100%;
  }
  &__project-type-heading{
    width:90%;
    grid-area: type;
    font-size: 1.25rem;
    text-align: start;
  }
  &__client-project-heading{
    width: 90%;
    grid-area: client;

  }
  &__description{
    font-family: $font-paragraphs;
    width: 90%;

    grid-area: d;
  }
  &__button--code{
    font-size: 1rem;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    width:7rem;
    height:3rem;
    grid-area: button1;
    background: $white;
    border: 1px solid $dark-navy;
    border-radius: 7px;
  }
  &__button--preview{
    font-size: 1rem;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    width:7rem;
    height:3rem;
    grid-area: button2;
    background: rgb(199, 230, 241);
    border: 1px solid $dark-navy;
    border-radius: 7px;
  }
}

.footer{
  font-family:'Poppins', sans-serif;
  display:block;
  margin:0;
  width:100%;
  height:10rem;
  background-color: $dark-navy;
  color: $white;
  text-align: center;

  &__button{
    font-family: 'Poppins', sans-serif;
    margin:1rem;
    width:7rem;
    height:2rem;
    font-size: 1rem;
    background-color: $blue-background;
    color: $dark-navy;
    border:1px solid $white;
    border-radius: 7px;
  }

  &__email{
    margin:1rem;
    font-size:0.7rem;
  }
}

@media screen and (min-width:1000px){

  body{
    margin: 2rem;
  }

  .nav-bar{
    display:flex;
    flex-direction: column;
    justify-content: center;
    height: 3.5rem;
    width: 105.2%;
    

    &__list{
      height:100%;
      display: flex;
      justify-content: space-around;
      list-style-type: none;
      font-size: 0.75rem;
      font-weight: 600;
      .nav-bar #nav-bar__name{
        display: flex;
        justify-self:left;
      }
    }
    button{
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      border: 1px solid $dark-navy;
      border-radius: 7px;
      width:6rem;
      height:1.2rem;
      font-size: 0.75rem;
      background-color: $blue-background;
      color: $dark-navy;
      font-family: $font-headings;
    }

    li{
      display:inline;
    }
    a, a:visited, a:active{
      text-decoration: none;
      color: $dark-navy;;
    }
  }

  .header{
    width:100%;
    &__intro{
      margin-top:2rem;
      margin-bottom: 0;
      width:100%;
    }
  }

  .large-heading{
    display: flex;
    width: 100%;
    justify-content: space-between;
    &__text{
      display: flex;
      flex-direction: column;
      align-self:center;
    }
    
    &__image{
      display:block;
      width: 50%;
      border: $dark-navy;
    }
  }
  .about-me{
    width:100%;
    display: grid;
    grid-template-areas: 
    "image heading heading"
    "image p p";
  &__heading{
    display: flex;
    align-items: flex-start;
    grid-column-start: 2;
    grid-column-end: 3;
  } 
  }
  .technical-skills{
    width: 50%;
  }
  .skills-container{
    scale: 75%;
    width:100%;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
  }
  .project-intro{
    width: 50%;
  }
  .project-container{
    width: 100%;
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    justify-items: center;
    
  }
  .project-container .project-card{
    width: 75%;
  }
  .footer{
    width:105.2%;
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  

}