@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@300&family=Poppins&display=swap");
.main-heading {
  height: 30rem;
  width: 80%;
  margin-top: 2rem;
  display: grid;
  grid-gap: 20px 20px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas: "intro intro intro" "large-heading large-heading large-heading" "button button button";
  background-color: #F7FAFA;
}
.main-heading__header {
  justify-self: center;
  align-self: end;
  grid-area: intro;
  color: #8C9CB1;
}
.main-heading__header__intro {
  width: 100%;
  margin-top: 2rem;
  margin-bottom: 0;
  width: 100%;
}
.main-heading__large-heading {
  display: flex;
  justify-self: center;
  align-self: center;
  grid-area: large-heading;
  width: 75%;
  font-size: 1.5rem;
  text-align: center;
}
.main-heading__large-heading__text {
  display: flex;
  flex-direction: column;
  align-self: center;
}
.main-heading__redirect {
  display: flex;
  justify-self: center;
  grid-area: button;
}
.main-heading__redirect--text {
  background-color: #BAE8E8;
  font-family: "Manrope", sans-serif;
  font-weight: 700;
  font-size: 1rem;
  color: #272643;
  width: 120%;
  height: 3.5rem;
  border-radius: 5px;
  box-shadow: 0 4px 2px -2px #bae8e8;
}

.about-me {
  width: 90%;
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
  display: grid;
  align-items: center;
  justify-items: center;
  grid-gap: 1.5rem;
  grid-template-areas: "heading heading heading heading" "image image image image" "p p p p";
}
.about-me__heading {
  grid-area: heading;
  font-weight: 600;
  font-size: 1.75rem;
  line-height: 39px;
  text-align: center;
}
.about-me__heading:hover {
  -webkit-text-decoration: underline 0.2rem #bae8e8;
          text-decoration: underline 0.2rem #bae8e8;
}
.about-me__image {
  grid-area: image;
  border-radius: 5px;
  width: 18.7rem;
}
.about-me__description {
  font-family: "Manrope", sans-serif;
  grid-area: p;
  font-weight: 400;
  font-size: 1.12rem;
  line-height: 180%;
  text-align: justify;
}

.technical-skills {
  width: 90%;
  margin-top: 3rem;
  margin-bottom: 1.25rem;
  display: grid;
  justify-items: center;
  grid-template-areas: "heading heading heading heading" "p p p p";
  grid-gap: 1.5rem;
}
.technical-skills__heading {
  grid-area: heading;
  font-weight: 600;
  font-size: 1.75rem;
  line-height: 39px;
  text-align: center;
}
.technical-skills__heading:hover {
  -webkit-text-decoration: underline 0.2rem #bae8e8;
          text-decoration: underline 0.2rem #bae8e8;
}
.technical-skills__description {
  font-family: "Manrope", sans-serif;
  grid-area: p;
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 160%;
  text-align: center;
}

.skills-container {
  width: 90%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 0.6fr 0.6fr 0.6fr;
  grid-gap: 3rem;
  align-items: center;
  -o-object-fit: scale-down;
     object-fit: scale-down;
}
.skills-container figure {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-self: center;
  justify-content: space-around;
  height: 7rem;
}
.skills-container figure img {
  width: 3.5rem;
}
.skills-container figcaption {
  text-align: center;
}

a, a:active, a:visited {
  color: black;
  text-decoration: none;
}

.project-intro {
  width: 90%;
  margin-top: 3rem;
  margin-bottom: 1.25rem;
  display: grid;
  justify-items: center;
  grid-template-areas: "heading heading heading heading" "p p p p";
  grid-gap: 1.5rem;
}
.project-intro__heading {
  grid-area: heading;
  font-weight: 600;
  font-size: 1.75rem;
  line-height: 39px;
  text-align: center;
}
.project-intro__heading:hover {
  -webkit-text-decoration: underline 0.2rem #bae8e8;
          text-decoration: underline 0.2rem #bae8e8;
}
.project-intro__description {
  font-family: "Manrope", sans-serif;
  grid-area: p;
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 160%;
  text-align: center;
}

.project-container {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.project-card {
  width: 100%;
  padding: 1rem;
  margin-top: 3rem;
  margin-bottom: 1.25rem;
  display: grid;
  grid-gap: 0.5rem;
  align-items: center;
  grid-template-areas: "image image image image" "type type type type" "client client client client" "d d d d " "button1 button1 button2 button2";
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.project-card figure {
  grid-area: image;
  background-size: contain;
  overflow: hidden;
  justify-self: center;
}
.project-card figure img {
  height: 300px;
  width: 300px;
}
.project-card__project-type-heading {
  width: 90%;
  grid-area: type;
  font-size: 1.25rem;
  text-align: start;
}
.project-card__client-project-heading {
  width: 90%;
  grid-area: client;
}
.project-card__description {
  font-family: "Manrope", sans-serif;
  width: 90%;
  grid-area: d;
}
.project-card__button--code {
  font-size: 1rem;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  width: 7rem;
  height: 3rem;
  grid-area: button1;
  background: #fdfdfd;
  border: 1px solid #272643;
  border-radius: 7px;
  justify-self: center;
  align-self: center;
}
.project-card__button--preview {
  font-size: 1rem;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  width: 7rem;
  height: 3rem;
  grid-area: button2;
  background: rgb(199, 230, 241);
  border: 1px solid #272643;
  border-radius: 7px;
  justify-self: center;
  align-self: center;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Poppins", sans-serif;
  color: #272643;
  background-color: #fdfdfd;
}

nav {
  display: none;
}

.footer {
  font-family: "Poppins", sans-serif;
  display: block;
  margin: 0;
  width: 100%;
  height: 10rem;
  background-color: #272643;
  color: #fdfdfd;
  text-align: center;
}
.footer__button {
  font-family: "Poppins", sans-serif;
  margin: 1rem;
  width: 7rem;
  height: 2rem;
  font-size: 1rem;
  background-color: #bae8e8;
  color: #272643;
  border: 1px solid #fdfdfd;
  border-radius: 7px;
}
.footer__email {
  margin: 1rem;
  font-size: 0.7rem;
}

@media screen and (min-width: 1200px) {
  body {
    margin: 2%;
    margin-bottom: 0;
  }
  .nav-bar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 3.5rem;
    width: 100vw;
  }
  .nav-bar__list {
    height: 100%;
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    font-size: 0.75rem;
    font-weight: 600;
  }
  .nav-bar__list .nav-bar #nav-bar__name {
    display: flex;
    justify-self: left;
  }
  .nav-bar button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 1px solid #272643;
    border-radius: 7px;
    width: 6rem;
    height: 1.5rem;
    font-size: 0.75rem;
    background-color: #bae8e8;
    color: #272643;
    font-family: "Poppins", sans-serif;
  }
  .nav-bar li {
    display: inline;
  }
  .nav-bar a,
  .nav-bar a:visited,
  .nav-bar a:active {
    text-decoration: none;
    color: #272643;
  }
  .about-me {
    width: 100%;
    display: grid;
    grid-template-areas: "image heading heading" "image p p";
  }
  .about-me__heading {
    display: flex;
    align-items: flex-start;
    grid-column-start: 2;
    grid-column-end: 3;
  }
  .technical-skills {
    width: 50%;
  }
  .skills-container {
    scale: 75%;
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
  }
  .project-intro {
    width: 50%;
  }
  .project-container {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    justify-items: center;
  }
  .project-container .project-card {
    width: 75%;
  }
  .footer {
    width: 100vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}/*# sourceMappingURL=styles.css.map */